
body #root #app * {
    font-family: 'Plus Jakarta Sans' !important;
}

body, h1{
    font-size: 56px;
}

body, h2{
    font-size: 48px;
}
body, h3{
    font-size: 32px;
}
body, h4{
    font-size: 24px;
}
body, h5{
    font-size: 18px;
}
body, h6{
    font-size: 16px;
}

.btn-primary {
    background-color: #039BE5;
    border-radius: 10px;
    border: none;
}

.btn-primary:hover{
    background-color: #006CA1;
}
.btn-primary:active {
    background-color: #0069D9;
    color: #fff;
}

.btn:active {
    background-color: #003F5D;
    color: #fff;
}

.btn-secondary {
    background-color: #1CE589;
    border-radius: 10px;
    border: none;
}

.btn-secondary:hover{
    background-color: #00A157;
}

.form-check-input[type="checkbox"] {
    width: 1.25em;
    height: 1.25em;
    margin-top: 0.3em;
    margin-right: 0.5em;
    background-color: #fff;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

/* Untuk checkbox yang dicentang */
.form-check-input[type="checkbox"]:checked {
    background-color: #039BE5;
    border-color: #039BE5;
}

/* Untuk label dari checkbox */
.form-check-label {
    font-size: 0.875rem;
    margin-left: 1.5em;
}

/* Untuk tampilan label ketika mouse berada di atasnya */
.form-check-label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.form-check-input:checked:hover {
    background-color: #006CA1;
    border-color: #006CA1;
}
  
/* Untuk checkbox ketika dihover dalam kondisi off */
.form-check-input:not(:checked):hover {
    background-color: #FFFFFF;
    border: 1px solid #006CA1;
}
/* Untuk checkbox ketika difokuskan dalam kondisi on */
.form-check-input:checked:focus {
    background-color: #039BE5;
    border: 2px solid #006CA1;
}

/* Untuk checkbox ketika difokuskan dalam kondisi off */
.form-check-input:not(:checked):focus {
    background-color: #FFFF;
    border: 2px solid #006CA1;
}

/* Untuk checkbox ketika disabled dalam kondisi on */
.form-check-input:checked:disabled {
    background-color: #F5F5F5;
}

/* Untuk checkbox ketika disabled dalam kondisi off */
.form-check-input:not(:checked):disabled {
    background-color: #F5F5F5;
}
.footer {
    bottom: 0;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .footer {
      width: 100%;
    }
  }

  .validate-error{
    border-color: #C00000 !important;
    border-width: 1px !important;
  }
  
  /* .validate-error .react-select__control{
    border-color: #C00000 !important;
    border-width: 1px !important;
  }
  
  .validate-error .react-select__control:hover{
    border-color: #C00000 !important;
    border-width: 1px !important;
  } */